.navbar{
  background-color:burlywood;
  text-align: center;
  position: relative;
  margin-top: 7px;
  color: white;
}
body{
  background-color: bisque;
}
.home{
  position:absolute;

 
}
.text{
  position: relative;
  margin-top: 200px;
  scroll-margin-left: 100px;
  text-align: center;
  color: white;
}
form{
  margin-top: 15px;
  margin-left: 200px;
}
.information{
  position: absolute;
}