{% extends "jobs/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>

  </head>
  <body>
    <h1>Get in touch with us</h1>
    <p> You can get in touch with us any time of  the day. We will respond to your query within the shortest time
      possible. Thank you.</p>
      <p> Below are our contacts</p>
      <ol> Email : info@patajob.ac.ke</ol>
      <ol>Phone No: 0734653876</ol>
      <ol> Whatapp: 0732453765 </ol>


  </body>
</html>
{% endblock %}