{% extends "jobs/base.html" %}
{% block content%}

<h1> FIND JOB</h1>
<div class = "container">
    <div class="row">
        <div class="col-md-2">
            <h2> COMPANY</h2>

        </div>
        <div class="col-md-3">
             <h2> TITLE</h2>

        </div>
         <div class="col-md-5">
             <h2> DESCRIPION</h2>

        </div>

         <div class="col-md-2">
             <h2> APPLY</h2>

        </div>
    </div>
     {% for job in jobs%}
    <div class="row">
        <div class="col-md-2">
             {{ job.author}}

        </div>
        <div class="col-md-3">
             {{ job.title}}

        </div>
        <div class="col-md-5">
             {{ job.content}}

        </div>
        <div class="col-md-2">
            <a href="{% url 'findjob' %}" class="button button-search"> APPLY</a>

        </div>




    </div>
    {% endfor %}


</div>


{% endblock %}