{% extends "jobs/base.html" %}
{% load static %}
{% block content %}




<img class="home img-fluid" src="{% static 'jobs/images/pic1.jpg' %}" alt="background image">
<div class="text">
        <h1> Welcome to pata job site</h1>
        <br/>
        <div class="home-search">
            <div class="form">
                    
                
                <form class="form-inline">
                       
                        <input class="form-control mr-sm-2" type="search" placeholder="Position" aria-label="Search">
                        <input class="form-control mr-sm-2" type="search" placeholder="Location" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
        </div>
    </div>
</div>

    <div class="information row">
       
            <div class="col-md-4">
                Angular

            </div>
            <div class="col-md-4">
                Android

            </div>
            <div class="col-md-4">
                Django

            </div>
    
    </div>



{% endblock %}